<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home Media Catalog</title>
	<link rel="stylesheet" href="https://bootswatch.com/3/yeti/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<style>
		body {
			padding-top: 46px;
			padding-bottom: 20px;
		}
		video { 
			width: 100%;
			height: auto;
			background-color: #000;
		}
		audio {
			width: 100%;
		}
		.list-item-padding > li {
			padding: 4px;
		}
		#learn-more-alert {
			display: none;
		}
		.jumbotron {
			background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
		}
		.margin-md {
			margin: 15px;
		}
		.padding-button {
			padding: 4px;
		}
		.inline-block {
			display: inline-block;
		}
		.small-font {
			font-size: 12pt;
		}
		video::-webkit-media-controls-overlay-play-button {
			opacity: 0.5;
		}
		video::-webkit-media-controls-panel {
			background-image: none;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Home Media Catalog</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form id="commandForm" class="navbar-form navbar-right" role="form">
					<div class="form-group">
						<input id="command" type="text" placeholder="Enter command..." class="form-control">
					</div>
					<button id="execute" type="submit" class="btn btn-success"><i class="fas fa-bolt"></i> Execute</button>
				</form>
			</div>
		</div>
	</nav>

	<div class="jumbotron">
		<div class="container">
			<h1>Home Media Catalog</h1>
			<p>
				The best place for your favorite media experience.
			</p>
			<ul class="list-inline list-item-padding">
				<li><a href="/" class="btn btn-primary btn-lg">All Media</a></li><!--
				--><li><a href="/?kind=video" class="btn btn-primary btn-lg"><i class="fas fa-film"></i> Video</a></li><!--
				--><li><a href="/?kind=audio" class="btn btn-primary btn-lg"><i class="fas fa-headphones"></i> Audio</a></li><!--
				--><li><a id="learn-more-button" class="btn btn-success btn-lg"><i class="fas fa-info"></i>  Learn More</a></li>
			</ul>
			<div id="learn-more-alert" class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				Actually, there is nothing else to learn... It's a stupid media catalog! Duh!
			</div>
		</div>
	</div>

	<div class="container">
		{% for item in catalog.items %}
			<div class="row">
				<div class="col-xs-12">
					<h2>
						{{ item.title }}
						<a href="" data-target="{{ item.id }}" class="toggle-action"><i class="fas fa-pen small-font"></i></a>
					</h2>
					<div class="margin-md" id="{{ item.id }}" hidden>
						<form class="inline-block padding-button" action="" method="POST">
							{% csrf_token %}
							<input type="hidden" name="command" value="hide">
							<input type="hidden" name="id" value="{{ item.id }}">
							<button type="submit" class="btn btn-primary"><i class="fas fa-eye-slash"></i> Hide Item</button>
						</form>
					</div>
					<div class="row">
						{% for f in item.files %}
	
							{% if f.kind == 'video' %}
							<div class="col-md-6 col-lg-6">		
								<video preload="none" controls>
									<source src="{% url 'stream' f.source %}" type="video/mp4">
								</video>
								<p>
									{{ f.name }}
								</p>
							</div>
							{% endif %}

							{% if f.kind == 'audio' %}
							<div class="col-lg-12">
								<div class="row">
									<div class="col-md-6 col-lg-4">
										<audio preload="none" controls>
											<source src="{% url 'stream' f.source %}" type="audio/mp3">
										</audio>
									</div>
									<div class="col-md-6 col-lg-6">
										<p>
											{{ f.name }}
										</p>
									</div>
								</div>
							</div>
							{% endif %}
	
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}

		<hr>

		<footer>
			<p>&copy; Milosh 2017</p>
		</footer>

		<div class="alert alert-dismissible alert-warning">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<h4>Warning!</h4>
			<p>
				This website does not use any cookies whatsoever!
				No need to click <a href="#" class="alert-link">anywhere</a> nor waste your life on reading some random piece of legal bullshit.
				You are welcome!
			</p>
		</div>
	</div>

	<script>
		$('#learn-more-button').click(function (e) {
			$('#learn-more-alert').show();
		});
		$('#commandForm').submit(function (e) {
			e.preventDefault();
			var command = $('#command').val(); $('#command').val('');
			var search = new URLSearchParams(window.location.search);
			tuple = command.split('=');
			search.set(tuple[0], tuple[1] || 'true');
			window.location.search = search.toString();
		});
 
		// Unobtrusive show/hide actions
		$('.toggle-action').click(function (e) {
			var id = $(e.currentTarget).attr('data-target');
			var element = $('#' + id);
			if (element.is(':hidden')) {
				element.show();
			}
			else {
				element.hide();
			}
			e.preventDefault();
		});
		$('.show-action').click(function (e) {
			var id = $(e.currentTarget).attr('data-target');
			$('#' + id).show();
			e.preventDefault();
		});
		$('.hide-action').click(function (e) {
			var id = $(e.currentTarget).attr('data-target');
			$('#' + id).hide();
			e.preventDefault();
		});
	</script>

</body>

</html>